{
  "plugins": ["prettier-plugin-astro"],
  "arrowParens": "avoid",
  "experimentalTernaries": true,
  "overrides": [
    {
      "files": ["tsconfig.json", ".vscode/*.json"],
      "options": { "parser": "jsonc" }
    },
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ]
}
