---
import Layout from "../layouts/layout.astro";
---

<Layout title="＊いしのなかにいる＊">
  <p>＊いしのなかにいる＊</p>
</Layout>

<style>
  p {
    font-size: xx-large;
    margin: auto;
    text-align: center;
    line-height: 100svh;
  }
</style>
